{% extends "base.html" %}

{% block content %}

    <!-- Page Header -->
    <header class="masthead" style="background-image: url('static/img/sydney-orch2.jpg')">
      <div class="overlay"></div>
      <div class="container">
        <div class="row">
          <div class="col-lg-8 col-md-10 mx-auto">
            <div class="page-heading">
              <h1>About Me</h1>
              <span class="subheading">This is not what I do.</span>
            </div>
          </div>
        </div>
      </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">
          <p>Definitely not a Web Developer by nature. My passion has always been with data beginning first as a Database Administrator. Through the years I was involved in numerous projects that involved more Database Development than Administration
          and always found those projects more exciting. Spent some time as a Senior Business Intelligence Developer before landing in my current role as Enterprise Data Architect.  That role has lead me away from your standard on-prem architectures
          to Cloud-based architectures, which leads me to this web-site. While most of my time is spent designing and creating data pipelines, I felt it was in my best interest to learn about the actual environment I will be building my designs on. In my case, AWS.
          So here I am, using a small sampling of AWS offerings to build a website based on Python (Flask). I want to be clear that while I am embarking on this endeavor in an effort to further my professional career, this web-site is entirely personal and in
          no way represents my employer's views or opinions.</p>

        </div>
      </div>
    </div>

    <hr>

{% endblock %}
